<<<<<<< HEAD
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.card {
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.btn {
    border-radius: 5px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .card {
    background-color: #444;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #222 !important;
}

.dark-mode .alert {
    background-color: #555;
    color: #fff;
}

.dark-mode .table {
    color: #fff;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #555;
=======
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.card {
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.btn {
    border-radius: 5px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .card {
    background-color: #444;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #222 !important;
}

.dark-mode .alert {
    background-color: #555;
    color: #fff;
}

.dark-mode .table {
    color: #fff;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #555;
>>>>>>> 10389dcec0241a7a17289f784cc38076eb471f8b
}